extends layout
include mixins

block content
  +nav(name, "dropdown_menu")
      +nav_item( "index.html", "active" ) Home
      +nav_item_dropdown( "#" )( label="Cabinet" )
          +nav_item( "#" ) Your favorites
          +nav_item( "#" ) Saved for later
          +nav_item( "#" ) Custom recipes
          +nav_item( "#" ) Weekly suggestions
          // +nav_divider
          // +nav_header My Recipes
      +nav_item( "recipes.html" ) Recipes
  h1= name
  p Welcome to #{name}