body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#login-dp .social-buttons{
    margin:12px 0
}

#login-dp .social-buttons a{
    width: 49%;
}

.btn-fb{
  color: #fff;
  background-color:#3b5998;
}

.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}